.application-registration-form-bg-container {
    box-shadow: rgba(0, 0, 0, 0.20) 0px 3px 8px;
    border-radius:4px;
}

.application-registration-table-bg-container {
    box-shadow: rgba(0, 0, 0, 0.20) 0px 3px 8px;
    border-radius:4px;
    overflow-y:auto;
}

.application-registration-main-heading {
    font-size:14px;
    font-weight:bold;
    color:#ffffff;
    padding-left:10px;
    padding-top:8px;
    padding-bottom:8px;
    background-color: #3b4655;
    border-top-left-radius:4px;
    border-top-right-radius:4px;
    border-top-style:solid;
    border-width:4px;
    border-color:rgba(250, 228, 34, 0.884);
}

.container-with-button {
    padding-left:20px;
    padding-right:20px;
}

.label-and-input {
    margin-top:7px;
}

.input-label {
    font-weight:bold;
    font-size:12px;
    color:rgb(128, 128, 128);
}

.input-filed {
    border-style:solid;
    outline:none;
    border-color: #b9b7b2;  
    border-width:1px;
    background-color: #f3f8f8;
    color: #333;
    padding-left: 10px;
    padding-top:2.5px;
    padding-bottom: 2.5px;
    border-radius: 4px;
    margin-top:2px;
    font-size:14px;
    font-weight:500;
    max-width:100%;
    min-width:100%;
}
.application-registration-table {
    max-height:400px;
    overflow-y:auto;
}

.buttons {
    min-width:80px;
    font-weight:bold;
    font-size:12px;
    padding-top:7px;
    padding-bottom:7px;
    margin-left:14px;
}

.buttons-container {
    display:flex;
    justify-content:flex-end;
}