.header-bg-container {
    width:100%;
    height:90px;
    background-color:#fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
    display:flex;
    align-items:center;
    justify-content:flex-end;
    padding-right:35px;
}

.icon {
    font-size:20px;
}

.powerbutton-content-container {
    display:flex;
    align-items:center;
}

.bell-icon {
    margin-right:30px;
}

.logout-span {
    font-weight:bold;
    margin-left:5px;
}